<footer role="contentinfo" class="footer cf">
        <div class="wrap footer-container">

          <section class="footer-section footer-links">
              <ul>
                  <li>
                      <a href="http://www.consumerfinance.gov/">consumerfinance.gov</a>
                  </li>
                  <li>
                      <a href="http://cfpb.github.io/">CFPB Open Tech</a>
                  </li>
                  <li>
                      <a href="https://github.com/cfpb">github.com/cfpb</a>
                  </li>
                  <li>
                      <a href="http://www.consumerfinance.gov/jobs/technology-innovation-fellows/">Work with us</a>
                  </li>
                  <li>
                      <a href="mailto:tech@consumerfinance.gov">Contact us</a>
                  </li>
              </ul>
          </section>

          <section class="footer-section footer-oss">
              <h4>Open source</h4>
              <p>
                  This project is maintained by <a href="https://cfpb.github.io/">The Consumer Financial Protection Bureau</a>.
                  The source code is available at 
                  <a href="https://github.com/cfpb/design-manual">github.com/cfpb/design-manual</a>
                </p>
              <p>
                  As a work of the United States Government, source code released by the CFPB is in the
                  public domain by default within the United States.
                  <a href="https://github.com/cfpb/source-code-policy/blob/master/cfpb-source-code-policy.txt">
                      View our full source code policy.
                  </a>
              </p>
          </section>

          <section class="footer-section footer-standards">
              <h4>A note about our standards</h4>
              <p>
                  These standards reflect our latest thinking and are just beginning to
                  be incorporated into the CFPB's most recent projects.
                  See these standards in practice in
                  <a href="http://www.consumerfinance.gov/eregulations/">eRegs</a>,
                  <a href="http://www.consumerfinance.gov/complaint/">Consumer Response</a>, and
                  <a href="http://www.consumerfinance.gov/hmda">HMDA</a>.
              </p>
          </section>

        </div>
    </footer>
  </div>
    <script src="{{ site.baseurl }}/js/main.min.js"></script>
    <script>
    $( document ).ready(function() {
        jQuery.ajaxSetup({async:false});  // no async!

        var urlPath = window.location.pathname.split("/");
        var path = urlPath[urlPath.length-2];

        if (urlPath.length === 8) {
          getTableData(path);
        } else {
          // fill the select inputs
          getUIData();
          // initial set link
          setLink();
          // call setlink when new choice is made
          $('select').click(function() {
            setLink();
          });
        }

        // get data for each select input
        // call the corresponding mustache template and fill the input
        // set the first option as selected
        function getUIData() {
          $('select').each(function() {
            console.log('this is value = ' + this.id);
            var selectID = this.id;
            $.get(selectID + '.json', function(data) {
              console.log('this is value = ' + selectID);
              $.get('{{ site.baseurl }}/templates/' + selectID + '.html', function(templates) {
                var template = $(templates).filter('#' + selectID).html();
                var html = Mustache.to_html(template, data);
                console.log('html element = #' + selectID)
                $('#' + selectID).html(html);
                $('#' + selectID + ' option:first').attr('selected', 'selected');
              });
            });
          });
        }

        function getTableData(table) {
          console.log('getting table ' + table);
          $.get(table + '.json', function(data) {
            $.get('{{ site.baseurl }}/templates/' + table + '.html', function(templates) {
              var template = $(templates).filter('#' + table).html();
              var html = Mustache.to_html(template, data);
              console.log('html element = #' + table)
              $('#' + table).html(html);
            });
          });
        }

        // update the button link
        function setLink() {
          var newURL = "";  // needed in on first page, year and state make the url
          $('select').each(function() {
            console.log ('select id = ' + $(this).val());
            newURL += $(this).val().replace(" ", "-").toLowerCase() + '/';
          });
          $('.js-btn').attr('href', newURL);
        }
    });
  </script>
</body>
</html>