<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HMDA Viz Prototype</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/hmda.css" type="text/css">
    <!--<![endif]-->
    <script type="text/javascript">
    // Confirm availability of JS and remove no-js class from html
    var docElement = document.documentElement;
    docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>
</head>

<body>
    {% assign urlsplit = page.url | split:"/" %}
    {% assign urlsize = urlsplit | size %}
    <div class="body-wrapper">