body {
	font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
}
h6 {
	font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
	font-weight: normal;
	margin-top: 0;
	text-align: right;
}

hr {
	border: none;
	border-top: 1px solid $gray-10;
	margin: 20px 0;
}