<script id="3-1" type="text/template">
	{{#borrowercharacteristics}}
		<tr>
			<th colspan="19"><h3>{{name}}</h3></th>
		</tr>
		{{#types}}
			<tr>
				<th class="characteristic">{{name}}</th>
				{{#purchasers}}
				<td>{{count}}</td>
				<td>{{value}}</td>
				{{/purchasers}}
			</tr>
		{{/types}}
	{{/borrowercharacteristics}}
</script>

<script id="3-1-new" type="text/template">
	{{#borrower-characteristics}}
		<tr>
			<th colspan="19"><h3>Race - {{ key }}</h3></th>
		</tr>
		{{#Race}}
			<tr>
				<th class="characteristic">American Indian/Alaska Native</th>
				{{#American Indian/Alaska Native.purchasers}}
				<td>{{count}}</td>
				<td>{{value}}</td>
				{{/American Indian/Alaska Native.purchasers}}
			</tr>
		{{/Race}}
	{{/borrower-characteristics}}
</script>