<script id="years" type="text/template">
	{{#years}}
		<option value="{{year}}">{{year}}</option>
	{{/years}}
</script>

<script id="states" type="text/template">
	{{#states}}
		<option value="{{name}}">{{id}} - {{name}} ({{code}})</option>
	{{/states}}
</script>

<script id="msa-mds" type="text/template">
	{{#msa-mds}}
		<option value="{{name}}">{{id}} - {{name}}</option>
	{{/msa-mds}}
</script>

<script id="tables" type="text/template">
	{{#tables}}
		<option value="{{id}}">{{id}} - {{name}}</option>
	{{/tables}}
</script>