{% include head.html %}
{% include header.html %}
{% assign urlsplit = page.url | split:"/" %}
{% assign urlsize = urlsplit | size %}
<div class="wrap">
	<section class="content homepage" id="content">
		<main role="main">
		    {% include breadcrumb.html %}

			<h1>{{ urlsplit[3] | upcase }} ({{ urlsplit[2] }})</h1>

			<p>Note: This is a listing of MSA/MD(s) where institutions have reports. Choose an MSA/MD by clicking a row and pressing select MSA/MD.</p>

			<form class="block__bg">
				<label class="form-label-header" for="msa-mds">MSA/MD</label>
				<select id="msa-mds" size="10">
				</select>
				<br />
				<a href="" class="btn js-btn" id="js-this-msa">Select MSA/MD</a> <a href="{{ site.baseurl }}/aggregate/state/" class="btn">Select All Tables for MSA/MD</a> <a href="{{ site.baseurl }}/aggregate/state/" class="btn">Select All Tables for MSA/MD - Text File</a>
			</form>
		</main>
	</section>
</div>

{% include footer.html %}