{% include head.html %}
{% include header.html %}
{% assign urlsplit = page.url | split:"/" %}
{% assign urlsize = urlsplit | size %}

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h2>{{ urlsplit[4] | upcase }}, {{ urlsplit[3] | upcase }} ({{ urlsplit[2] }})</h2>
                <p>Note: This is a listing of all tables for the selected MSA/MD region. Choose a table by clicking a row and pressing "Select Table".</p>
            </div>
        </div>
    </div>
</section>

<div class="container-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-3">
                {% include breadcrumb.html %}
            </div>
        </div>
    </div>
</div>

<div class="container" id="content">
    <div class="row">
        <div class="col-3">
            <form class="block__bg">
                <label class="form-label-header" for="tables">Tables</label>
                <select size="10" id="tables">
                    <option value="i" selected="selected">i - Reporting Institutions</option>
                    <option value="1">1 - Applications by Tract</option>
                    <option value="2">2 - Loans Purchased by Tract</option>
                    <option value="3-1">3-1 - Loans Sold by Tract</option>
                    <option value="3-2">3-2 - Loans Sold by Purchaser Type</option>
                    <option value="4-1">4-1 - FHA, FSA/RHS and VA Purchases by Race</option>
                    <option value="4-2">4-2 - Conventional Purchases by Race</option>
                    <option value="4-3">4-3 - Refinancings by Race</option>
                    <option value="4-4">4-4 - Home Improvements by Race</option>
                    <option value="4-5">4-5 - Multi-Family Loans by Race</option>
                    <option value="4-6">4-6 - Nonoccupant Loans by Race</option>
                    <option value="4-7">4-7 - Manufactured Homes By Race</option>
                    <option value="5-1">5-1 - FHA, FSA/RHS and VA by App Income</option>
                    <option value="5-2">5-2 - Conv Purchases by App Income</option>
                    <option value="5-3">5-3 - Refinancings by App Income</option>
                    <option value="5-4">5-4 - Home Improvements by App Income</option>
                    <option value="5-6">5-6 - Nonoccupant Loans by Income</option>
                    <option value="5-7">5-7 - Manufactured Homes By Income</option>
                    <option value="7-1">7-1 - FHA, FSA/RHS and VA by Tract Income</option>
                    <option value="7-3">7-3 - Refinancings by Tract Income</option>
                    <option value="7-2">7-2 - Conv Purchases by Tract Income</option>
                    <option value="7-4">7-4 - Home Improvements by Tract Income</option>
                    <option value="7-5">7-5 - Multi-Family Loans by Tract Income</option>
                    <option value="7-6">7-6 - Nonoccupant Loans by Tract Income</option>
                    <option value="7-7">7-7 - Manufactured Homes By Tract Income</option>
                    <option value="8-1">8-1 - FHA, FSA/RHS and VA Purchase Denials</option>
                    <option value="8-2">8-2 - Conv Home-Purchase Denials</option>
                    <option value="8-3">8-3 - Refinancing Denials</option>
                    <option value="8-4">8-4 - Home Improvement Denials</option>
                    <option value="8-6">8-6 - Nonoccupant Loan Denials</option>
                    <option value="8-7">8-7 - Manufactured Home Denials</option>
                    <option value="9">9 - Loan by Med Age of Homes</option>
                    <option value="11-1">11-1 - FHA Home-Pur Pricing Info First</option>
                    <option value="11-2">11-2 - VA Home-Pur Pricing Info First</option>
                    <option value="11-3">11-3 - Conv Home-Pur Pricing Info First</option>
                    <option value="11-4">11-4 - Conv Home-Pur Pricing Info Junior</option>
                    <option value="11-5">11-5 - FHA Refi Pricing Info First</option>
                    <option value="11-6">11-6 - VA Refi Pricing Info First</option>
                    <option value="11-7">11-7 - Conv Refi Pricing Info First</option>
                    <option value="11-8">11-8 - Conv Refi Pricing Info Junior</option>
                    <option value="11-9">11-9 - Conv Home-Imp Pricing Info First</option>
                    <option value="11-10">11-10 - Conv Home-Imp Pricing Info Junior</option>
                    <option value="12-1">12-1 - Conv Manuf Home-Pur First</option>
                    <option value="12-2">12-2 - Conv Manuf Home-Pur Pricing Info First</option>
                    <option value="A1">A1 - Loan Sale by Loan Type 1 to 4 Families</option>
                    <option value="A2">A2 - Loan Sale by Loan Type Manufactured</option>
                    <option value="A3">A3 - Loan Sale by Loan Type Multifamily</option>
                    <option value="A4">A4 - Preapproval Conv Home-Pur First</option>
                    <option value="B">B - Conv Price Info by Incidence and Level</option>
                </select>
                <br />
                <div class="input-group">
                    <a href="" class="btn js-btn">Select Table</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% include footer.html %}