{% include head.html %}
{% include header.html %}
<div style="margin: 2em 1em;">
	<h4>Aggregate Table 3-1: Loans Sold, by Characteristics of Borrower and of Census Tract in Which Property is Located and by Type of Purchaser (Includes Originations and Purchased Loans), 2013</h4>
	<h5>MSA/MD: 11500 - ANNISTON-OXFORD, AL</h5>
</div>
<!--<table>
	<tr>
		<td>Aggregate Table 3-1: Loans Sold, by Characteristics of Borrower and of Census Tract in Which Property is Located and by Type of Purchaser (Includes Originations and Purchased Loans), 2013</td>
	</tr>
	<tr>
		<td align="right">MSA/MD: 11500 - ANNISTON-OXFORD, AL</td>
	</tr>
</table>-->

<table class="report">
	<thead>
		<tr>
			<th rowspan="2" valign="bottom" width="10%;"></th>
			<th colspan="2" valign="bottom" width="10%;">Fannie Mae</th>
			<th colspan="2" valign="bottom" width="10%;">Ginnie Mae</th>
			<th colspan="2" valign="bottom" width="10%;">Freddie Mac</th>
			<th colspan="2" valign="bottom" width="10%;">Farmer Mac</th>
			<th colspan="2" valign="bottom" width="10%;">Private Securitization</th>
			<th colspan="2" valign="bottom" width="10%;">Commercial Bank, Savings Bank, or Saving Assoc</th>
			<th colspan="2" valign="bottom" width="10%;">Insurance Co, Credit Union, Mortgage BK, or Finance Co</th>
			<th colspan="2" valign="bottom" width="10%;">Affiliate Institution</th>
			<th colspan="2" valign="bottom" width="10%;">Other Purchaser</th>
		</tr>
		<tr>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
		</tr>

	</thead>
	<tbody id="table">
		
	</tbody>
	<tfoot>
	</tfoot>
</table>
{% include footer.html %}