{% include head.html %}
{% include header.html %}
<div style="margin: 2em 1em;">
	<h4>Aggregate Table 3-1: Loans Sold, by Characteristics of Borrower and of Census Tract in Which Property is Located and by Type of Purchaser (Includes Originations and Purchased Loans), 2013</h4>
	<h5>MSA/MD: 11500 - ANNISTON-OXFORD, AL</h5>
</div>
<!--<table>
	<tr>
		<td>Aggregate Table 3-1: Loans Sold, by Characteristics of Borrower and of Census Tract in Which Property is Located and by Type of Purchaser (Includes Originations and Purchased Loans), 2013</td>
	</tr>
	<tr>
		<td align="right">MSA/MD: 11500 - ANNISTON-OXFORD, AL</td>
	</tr>
</table>-->

<table class="report">
	<thead>
		<tr>
			<th rowspan="2" valign="bottom"></th>
			<th align="center" colspan="2" valign="bottom">Fannie Mae</th>
			<th colspan="2" valign="bottom">Ginnie Mae</th>
			<th colspan="2" valign="bottom">Freddie Mac</th>
			<th colspan="2" valign="bottom">Farmer Mac</th>
			<th colspan="2" valign="bottom">Private Securitization</th>
			<th colspan="2" valign="bottom">Commercial Bank, Savings Bank, or Saving Assoc</th>
			<th colspan="2" valign="bottom">Insurance Co, Credit Union, Mortgage BK, or Finance Co</th>
			<th colspan="2" valign="bottom">Affiliate Institution</th>
			<th colspan="2" valign="bottom">Other Purchaser</th>
		</tr>
		<tr>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
			<th>Number</th>
			<th>$000's</th>
		</tr>

	</thead>
	<tbody>
		<tr>
			<th colspan="19">Borrower Characteristics</th>
		</tr>
		<tr>
			<th colspan="19">Race</th>
		</tr>
		<tr>
			<th class="characteristic">American Indian/Alaska Native</th>
			<td>3</td>
			<td>316</td>
			<td>3</td>
			<td>404</td>
			<td>1</td>
			<td>90</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>2</td>
			<td>239</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th class="characteristic">Asian</th>
			<td>5</td>
			<td>788</td>
			<td>1</td>
			<td>91</td>
			<td>3</td>
			<td>234</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>1</td>
			<td>89</td>
			<td>1</td>
			<td>91</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th class="characteristic">Black or African American</th>
			<td>35</td>
			<td>3968</td>
			<td>72</td>
			<td>7903</td>
			<td>13</td>
			<td>1858</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>16</td>
			<td>2483</td>
			<td>27</td>
			<td>2706</td>
			<td>8</td>
			<td>1147</td>
			<td>1</td>
			<td>76</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>
{% include footer.html %}